@import 'Common/Colors.scss';

.checkout_container {
  margin-top: 60px;

  .checkout_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 2.7fr 1.3fr;

    .checkout_details {
      background: #fff;
      padding: 0.5rem 1rem;

      h1{
          margin: 10px 0;
      }
    }

    .payment_details {
      background: #fff;
      margin-top: 20px;
      padding: 0.5rem 1rem;
    }

    .checkout_items {
      background: #fff;
      padding: 1rem;

      .restaurant_details {
        display: flex;
        gap: 10px;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }

        .details {
          span {
            font-weight: 600;
            font-size: 14px;
          }

          p {
            margin-top: 7px;
            font-size: 11px;
            color: $text_color;
          }
        }
      }

      .item_details {
        display: flex;
        gap: 10px;

        .veg {
          color: #3ba30a;
        }

        span {
          width: 150px;
          font-size: 12px;

          p {
            margin-top: 2px;
            font-size: 11px;
          }
        }

        .food_price {
          border: 1px solid #b3b3b3;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 20px;
          width: 60px;
          padding: 2px 4px;
          margin-left: 10px;

          button {
            background: none;
            border: none;
            outline: none;

            i {
              font-weight: 500 !important;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .price {
          margin-top: 10px;
          font-size: 14px;
        }
      }

      .suggestion {
        margin: 10px 0;
        width: 93%;
        background: #efefef;
        padding: 10px;

        input {
          background: none;
          border: none;
          outline: none;
          width: 100%;
        }
      }

      .delivery_optional {
        margin-top: 10px;
        width: 93%;
        border: 1px solid #b3b3b3;
        display: flex;
        gap: 10px;
        padding: 10px;

        .titles {
          span {
            font-size: 14px;
            font-weight: 600;
          }

          p {
            margin-top: 5px;
            font-size: 13px;
          }
        }
      }

      .coupon {
        margin-top: 15px;
        width: 90%;
        border: 1px dashed #b3b3b3;
        padding: 15px;
        display: flex;
        gap: 20px;
        color: $text_color;
      }

      .bill_details {
        margin-top: 15px;

        h5 {
          margin-bottom: 5px;
          font-weight: 600;
        }

        .bills {
          .item,
          .more,
          .tax {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: $text_color;
            margin: 10px 0;
          }

          .row {
            margin-top: 5px;
            border-bottom: 1px solid #000;
          }

          .to_pay {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 600;
            margin: 10px 0;
            color: $second_color;
          }
        }
      }
    }
  }
}
