@import 'Common/Colors.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: $first_color;
  padding: 6px 15px;

  .logo {
    color: $main_color;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;

    img {
      height: 100%;
      width: 60px;
    }

    .logo_name {
      font-size: 22px;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  #menu_btn {
    position: absolute;
    color: $main_color;
    left: 90%;
    top: 10px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);

    &:hover {
      cursor: pointer;
    }
  }

  .tab_links {
    margin: 20px 0;

    .tabs {
      text-decoration: none;
      color: $main_color;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      border-radius: 12px;

      &:hover {
        background: $third_color;
        color: $first_color;
      }

      .icon_title {
        display: flex;
        gap: 15px;
      }
    }

    .dropdown_link {
      color: $main_color;
      text-decoration: none;

      .dropdown {
        margin: 15px 10px;
        padding: 10px 15px;
        border-radius: 12px;
        display: flex;
        gap: 10px;

        &:hover {
          background: $third_color;
          color: $first_color;
        }
      }
    }
  }
}

.contents {
  position: absolute;
  height: 100%;
  width: calc(100% - 250px);
  left: 260px;
}
