.food_type_container{
    flex: 0.2;
    height: fit-content;

    .food_type_wrapper{
        .type{
            margin: 10px 0;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: #a42af4;
            padding: 5px 0;

            &:hover{
                cursor: pointer;
            }
        }

        .active{
            margin: 10px 0;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            border-right: 3px solid #a42af4;
            color: #a42af4;
            padding: 10px 0;
            background: linear-gradient(90deg, #ffffff, #ddaefc);

            &:hover{
                cursor: pointer;
            }
        }
    }
}